<turbo-stream target="<%= params[:frame_id] %>" action="replace" method="morph">
  <template>
    <div id=<%= params[:frame_id] %>>
      <%= render params[:component].constantize.new(@data) %>
    </div>
  </template>
</turbo-stream>
