---
http_interactions:
- request:
    method: post
    uri: https://graphql.datocms.com/preview
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  homepage {\n    id\n    _createdAt\n    _seoMetaTags
        {\n      attributes\n      content\n      tag\n    }\n    content {\n      value\n      blocks
        {\n        id\n        image {\n          responsiveImage(imgixParams: {fm:
        png}) {\n            srcSet\n            webpSrcSet\n            sizes\n            src\n            width\n            height\n            aspectRatio\n            alt\n            title\n            bgColor\n            base64\n          }\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db340a7e147042c07b5879f6a884e0f5"
      X-Analysis-Fields-Count:
      - '2'
      X-Analysis-Introspection:
      - '0'
      X-Analysis-Item-Types-Count:
      - '2'
      X-Analysis-Successful:
      - '1'
      X-Batch:
      - '0'
      X-Complexity:
      - '66'
      X-Complexity-New:
      - '66'
      X-Depth:
      - '6'
      X-Environment:
      - main
      X-Fields-Count:
      - '24'
      X-Queue-Time:
      - 29ms
      X-Timings-Execution:
      - '0.028'
      X-Timings-Preanalysis:
      - '0.001'
      X-Timings-Schema-Generation:
      - '0.027'
      X-Timings-Total:
      - '0.056'
    body:
      encoding: UTF-8
      string: '{"data":{"homepage":{"id":"56302","_createdAt":"2021-10-22T14:45:19+01:00","_seoMetaTags":[{"attributes":null,"content":"SEO
        title","tag":"title"},{"attributes":{"property":"og:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:image","content":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:image","content":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"property":"og:locale","content":"en"},"content":null,"tag":"meta"},{"attributes":{"property":"og:type","content":"website"},"content":null,"tag":"meta"},{"attributes":{"property":"article:modified_time","content":"2022-04-04T19:35:20Z"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:card","content":"summary_large_image"},"content":null,"tag":"meta"}],"content":{"value":{"schema":"dast","document":{"type":"root","children":[{"type":"heading","level":1,"children":[{"type":"span","marks":["strong"],"value":"Terrific!"}]},{"type":"paragraph","children":[{"type":"span","value":""}]},{"type":"paragraph","children":[{"type":"span","value":"Here
        is a paragraph with some content to be tested"}]},{"item":"150823","type":"block"},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is a not so small heading"}]},{"type":"list","style":"numbered","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"numbered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"i"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"have
        more"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"items"}]}]}]},{"type":"paragraph","children":[{"type":"span","value":""}]},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is another heading"}]},{"type":"list","style":"bulleted","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"unordered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]}]},{"type":"blockquote","children":[{"type":"paragraph","children":[{"type":"span","value":"Arel
        is great only for dynamic queries"}]}],"attribution":"Alessandro Rodi"},{"type":"thematicBreak"},{"code":"client
        = Dato::Client.new\nclient.execute!(a_query)","type":"code","language":"ruby"},{"item":"56409","type":"block"},{"type":"heading","level":6,"children":[{"type":"span","value":"One
        last heading"}]},{"type":"paragraph","children":[{"type":"span","marks":["strong"],"value":"And
        a longer"},{"type":"span","value":" "},{"type":"span","marks":["emphasis"],"value":"paragraph
        with a"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"lot
        of different"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"styles
        all"},{"type":"span","value":" "},{"type":"span","marks":["underline","strikethrough"],"value":"together"},{"type":"span","value":".
        "},{"type":"span","marks":["code"],"value":"We mix some"},{"type":"span","value":"
        "},{"type":"span","marks":["highlight"],"value":"of them"},{"type":"span","value":"
        "},{"url":"https://renuo.ch","type":"link","children":[{"type":"span","value":"to
        see if they are all properly managed."}]}]}]}},"blocks":[{"id":"150823","image":{"responsiveImage":{"srcSet":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.25&fm=png
        1008w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.5&fm=png
        2016w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.75&fm=png
        3024w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?fm=png
        4032w","webpSrcSet":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.25&fm=webp
        1008w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.5&fm=webp
        2016w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?dpr=0.75&fm=webp
        3024w,https://www.datocms-assets.com/65438/1634910050-img0429.heic?fm=webp
        4032w","sizes":"(max-width: 4032px) 100vw, 4032px","src":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?fm=png","width":4032,"height":3024,"aspectRatio":1.3333333333333333,"alt":null,"title":null,"bgColor":null,"base64":"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoRCAgLChYVFRgWDg0NDh0VIhkYIyIlGC4WIhUmKysjHR0qHRUiJDUlKC0vMj4yHSI4PTcwPCsxMi8BCgsLDg0OHBAQHDsoIiU7OzUvNS87OzUvNS81OzsvLzUvLzUvLzUvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABIAGAMBIgACEQEDEQH/xAAaAAACAgMAAAAAAAAAAAAAAAAABAMHAQIF/8QAIRAAAgEDBAMBAAAAAAAAAAAAAAIBAwQhBhGBkQUScSL/xAAXAQADAQAAAAAAAAAAAAAAAAACAwUE/8QAGxEAAgIDAQAAAAAAAAAAAAAAAAIBAyEyMyP/2gAMAwEAAhEDEQA/AG69pggp2W8ilzqS2WM1FjkjttR2zziovZVi1jDKqdWbDACz6gt1jLx2AprsjFTBUFZ2Zp3a[...]
