---
http_interactions:
- request:
    method: post
    uri: https://site-api.datocms.com/items
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item","attributes":{"name":"Hello world"},"relationships":{"item_type":{"data":{"type":"item_type","id":"1318857"}}}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e6f6a347dec9194ab0f32edaa06c379"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"163791323","type":"item","attributes":{"name":"Hello
        world","picture":null,"updated_at":"2023-08-18T09:57:41.339+01:00","created_at":"2023-08-18T09:57:41.333+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:41.333+01:00","updated_at":"2023-08-18T09:57:41.339+01:00","published_at":"2023-08-18T09:57:41.362+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:41.362+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"319201313","stage":null}},"included":[{"id":"1318857","type":"item_type","attributes":{"name":"Author","singleton":false,"sortable":false,"api_key":"author","ordering_direction":null,"ordering_meta":null,"tree":false,"modular_block":false,"draft_mode_active":false,"all_locales_required":true,"collection_appeareance":"table","collection_appearance":"table","has_singleton_item":false,"hint":null,"inverse_relationships_enabled":false},"relationships":{"fields":{"data":[{"id":"6501678","type":"field"},{"id":"6501679","type":"field"}]},"fieldsets":{"data":[]},"singleton_item":{"data":null},"ordering_field":{"data":null},"title_field":{"data":{"id":"6501678","type":"field"}},"image_preview_field":{"data":null},"excerpt_field":{"data":null},"workflow":{"data":null}},"meta":{"has_singleton_item":false}}]}'
  recorded_at: Fri, 18 Aug 2023 08:57:41 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/items?filter%5Btype%5D=1318857
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ead330aff439cd8831e54a86b516c2e2"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"163791323","type":"item","attributes":{"name":"Hello
        world","picture":null,"updated_at":"2023-08-18T09:57:41.339+01:00","created_at":"2023-08-18T09:57:41.333+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:41.333+01:00","updated_at":"2023-08-18T09:57:41.339+01:00","published_at":"2023-08-18T09:57:41.362+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:41.362+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"319201313","stage":null}},{"id":"163791294","type":"item","attributes":{"name":"Hello
        world","picture":{"alt":null,"title":null,"custom_data":{},"focal_point":null,"upload_id":"55075848"},"updated_at":"2023-08-18T09:57:12.605+01:00","created_at":"2023-08-18T09:57:12.599+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:12.599+01:00","updated_at":"2023-08-18T09:57:12.605+01:00","published_at":"2023-08-18T09:57:12.634+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:12.634+01:00","i[...]
- request:
    method: get
    uri: https://site-api.datocms.com/items/163791323
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90e3b31941afec152ecfe6e343def5cf"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 3ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"163791323","type":"item","attributes":{"name":"Hello
        world","picture":null,"updated_at":"2023-08-18T09:57:41.339+01:00","created_at":"2023-08-18T09:57:41.333+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:41.333+01:00","updated_at":"2023-08-18T09:57:41.339+01:00","published_at":"2023-08-18T09:57:41.362+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:41.362+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"319201313","stage":null}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:41 GMT
[...]
- request:
    method: get
    uri: https://site-api.datocms.com/items/163791323
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"302048","type":"api_error","attributes":{"code":"NOT_FOUND","details":{}}}]}'
  recorded_at: Fri, 18 Aug 2023 08:57:42 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/items?filter%5Btype%5D=123
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"527951","type":"api_error","attributes":{"code":"ITEM_TYPE_NOT_FOUND","details":{}}}]}'
  recorded_at: Fri, 18 Aug 2023 09:00:40 GMT
recorded_with: VCR 6.1.0
