---
http_interactions:
- request:
    method: post
    uri: https://site-api.datocms.com/items
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item","attributes":{"title":"Hello world"},"relationships":{"item_type":{"data":{"type":"item_type","id":"4404"}}}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75e7b4985607db883221bd801b250636"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 1ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"106421265","type":"item","attributes":{"title":"Hello
        world","updated_at":"2023-04-21T11:56:49.029+01:00","created_at":"2023-04-21T11:56:49.025+01:00","position":6},"relationships":{"item_type":{"data":{"id":"4404","type":"item_type"}},"creator":{"data":{"id":"136841","type":"access_token"}}},"meta":{"created_at":"2023-04-21T11:56:49.025+01:00","updated_at":"2023-04-21T11:56:49.029+01:00","published_at":"2023-04-21T11:56:49.047+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-04-21T11:56:49.047+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"197716210","stage":null}},"included":[{"id":"4404","type":"item_type","attributes":{"name":"category","singleton":false,"sortable":true,"api_key":"category","ordering_direction":null,"ordering_meta":null,"tree":false,"modular_block":false,"draft_mode_active":false,"all_locales_required":true,"collection_appeareance":"table","collection_appearance":"table","has_singleton_item":false,"hint":null,"inverse_relationships_enabled":false},"relationships":{"fields":{"data":[{"id":"21611","type":"field"}]},"fieldsets":{"data":[]},"singleton_item":{"data":null},"ordering_field":{"data":null},"title_field":{"data":{"id":"21611","type":"field"}},"image_preview_field":{"data":null},"excerpt_field":{"data":null},"workflow":{"data":null}},"meta":{"has_singleton_item":false}}]}'
  recorded_at: Fri, 21 Apr 2023 10:56:49 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/items?filter%5Btype%5D=4404
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"858a9ebcef5df8b3b1b6fe9d6b2ac521"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 3ms
      X-Ratelimit-Limit:
[...]
- request:
    method: get
    uri: https://site-api.datocms.com/items/106421265
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34b88bb9c2e6c14f58e4e9d6409bb9c1"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 3ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"106421265","type":"item","attributes":{"title":"Hello
        world","updated_at":"2023-04-21T11:56:49.029+01:00","created_at":"2023-04-21T11:56:49.025+01:00","position":6},"relationships":{"item_type":{"data":{"id":"4404","type":"item_type"}},"creator":{"data":{"id":"136841","type":"access_token"}}},"meta":{"created_at":"2023-04-21T11:56:49.025+01:00","updated_at":"2023-04-21T11:56:49.029+01:00","published_at":"2023-04-21T11:56:49.047+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-04-21T11:56:49.047+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"197716210","stage":null}}}'
  recorded_at: Fri, 21 Apr 2023 10:56:49 GMT
[...]
- request:
    method: get
    uri: https://site-api.datocms.com/items/106421265
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"302048","type":"api_error","attributes":{"code":"NOT_FOUND","details":{}}}]}'
  recorded_at: Fri, 21 Apr 2023 10:56:50 GMT
recorded_with: VCR 6.1.0
