---
http_interactions:
- request:
    method: post
    uri: https://site-api.datocms.com/upload-requests
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload_request","attributes":{"filename":"renuo.svg"}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ec847206632f1de096a937765a476c1"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 2ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"/105263/1692349064-renuo.svg","type":"upload_request","attributes":{"url":"https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349064-renuo.svg?x-amz-acl=public-read&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH%2F20230818%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20230818T085744Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=db29fe1ee96f1d84ed6aa6c7b1288176857c25454367c7dc991fc3cf3249f2d9"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:44 GMT
- request:
    method: put
    uri: https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349064-renuo.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH/20230818/eu-west-1/s3/aws4_request&X-Amz-Date=20230818T085744Z&X-Amz-Expires=900&X-Amz-Signature=db29fe1ee96f1d84ed6aa6c7b1288176857c25454367c7dc991fc3cf3249f2d9&X-Amz-SignedHeaders=host&x-amz-acl=public-read
    body:
      encoding: UTF-8
      string: '<svg class="logo" height="75" viewBox="0 0 65.89 68.21" width="75"
        xmlns="http://www.w3.org/2000/svg"><path class="cls-1" d="M59,11.65a2.88,2.88,0,0,1-.59-.06,3.62,3.62,0,0,1-.56-.17,3.25,3.25,0,0,1-.52-.28,2.74,2.74,0,0,1-.83-.83,3.15,3.15,0,0,1-.28-.51A3.62,3.62,0,0,1,56,9.24a3.51,3.51,0,0,1,0-1.18,3.62,3.62,0,0,1,.17-.56A3.74,3.74,0,0,1,56.45,7a3.16,3.16,0,0,1,.37-.45,2.82,2.82,0,0,1,.46-.38,3.2,3.2,0,0,1,.52-.27,2.78,2.78,0,0,1,.56-.17,2.88,2.88,0,0,1,1.17,0,2.78,2.78,0,0,1,.56.17,3.2,3.2,0,0,1,.52.27,3.32,3.32,0,0,1,.46.38,4,4,0,0,1,.37.45,2.86,2.86,0,0,1,.27.52,2.81,2.81,0,0,1,.18.56,3,3,0,0,1,.[...]
- request:
    method: post
    uri: https://site-api.datocms.com/uploads
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload","attributes":{"path":"/105263/1692349064-renuo.svg"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Api-Version:
      - '3'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 2ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"95d4162a2c2d39d355fe9da0","type":"job"}}'
  recorded_at: Fri, 18 Aug 2023 08:57:45 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/job-results/95d4162a2c2d39d355fe9da0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f7996da97f07c0b533d9995890831f1"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"95d4162a2c2d39d355fe9da0","type":"job_result","attributes":{"payload":{"data":{"id":"55075854","type":"upload","attributes":{"size":3952,"width":75,"height":75,"path":"/105263/1692349064-renuo.svg","format":"svg","author":null,"notes":null,"copyright":null,"default_field_metadata":{"en":{"alt":null,"title":null,"custom_data":{},"focal_point":null}},"is_image":true,"created_at":"2023-08-18T08:57:45.231Z","updated_at":"2023-08-18T08:57:45.235Z","url":"https://www.datocms-assets.com/105263/1692349064-renuo.svg","tags":[],"filename":"renuo.svg","basename":"renuo","exif_info":{},"mime_type":"image/svg+xml","colors":[],"smart_tags":[],"duration":null,"frame_rate":null,"mux_playback_id":null,"blurhash":null,"thumbhash":null,"mux_mp4_highest_res":null,"md5":"849df5a107b556a3bea01027b191a56a"},"relationships":{"creator":{"data":{"id":"224335","type":"access_token"}}}}},"status":201,"statusText":"Created"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:45 GMT
- request:
    method: post
    uri: https://site-api.datocms.com/items
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item","attributes":{"name":"Hello world","picture":{"upload_id":"55075854"}},"relationships":{"item_type":{"data":{"type":"item_type","id":"1318857"}}}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64d4596275340e9a7c9226e0f470cc5c"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"163791328","type":"item","attributes":{"name":"Hello
        world","picture":{"alt":null,"title":null,"custom_data":{},"focal_point":null,"upload_id":"55075854"},"updated_at":"2023-08-18T09:57:45.550+01:00","created_at":"2023-08-18T09:57:45.545+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:45.545+01:00","updated_at":"2023-08-18T09:57:45.550+01:00","published_at":"2023-08-18T09:57:45.582+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:45.582+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"319201319","stage":null}},"included":[{"id":"1318857","type":"item_type","attributes":{"name":"Author","singleton":false,"sortable":false,"api_key":"author","ordering_direction":null,"ordering_meta":null,"tree":false,"modular_block":false,"draft_mode_active":false,"all_locales_required":true,"collection_appeareance":"table","collection_appearance":"table","has_singleton_item":false,"hint":null,"inverse_relationships_enabled":false},"relationships":{"fields":{"data":[{"id":"6501678","type":"field"},{"id":"6501679","type":"field"}]},"fieldsets":{"data":[]},"singleton_item":{"data":null},"ordering_field":{"data":null},"title_field":{"data":{"id":"6501678","type":"field"}},"image_preview_field":{"data":null},"excerpt_field":{"data":null},"workflow":{"data":null}},"meta":{"has_singleton_item":false}}]}'
  recorded_at: Fri, 18 Aug 2023 08:57:45 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/items/163791328
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a99e66fa7900da1812eaae009ab59de1"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 2ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"163791328","type":"item","attributes":{"name":"Hello
        world","picture":{"alt":null,"title":null,"custom_data":{},"focal_point":null,"upload_id":"55075854"},"updated_at":"2023-08-18T09:57:45.550+01:00","created_at":"2023-08-18T09:57:45.545+01:00"},"relationships":{"item_type":{"data":{"id":"1318857","type":"item_type"}},"creator":{"data":{"id":"224335","type":"access_token"}}},"meta":{"created_at":"2023-08-18T09:57:45.545+01:00","updated_at":"2023-08-18T09:57:45.550+01:00","published_at":"2023-08-18T09:57:45.582+01:00","publication_scheduled_at":null,"unpublishing_scheduled_at":null,"first_published_at":"2023-08-18T09:57:45.582+01:00","is_valid":true,"is_current_version_valid":true,"is_published_version_valid":true,"status":"published","current_version":"319201319","stage":null}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:45 GMT
recorded_with: VCR 6.1.0
