---
http_interactions:
- request:
    method: get
    uri: https://picsum.photos/seed/picsum/200/300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 18 Aug 2023 08:57:42 GMT
- request:
    method: post
    uri: https://site-api.datocms.com/upload-requests
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload_request","attributes":{"filename":"picsum.png"}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84799ed024327a088896a28bdf5c00bc"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"/105263/1692349063-picsum.png","type":"upload_request","attributes":{"url":"https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349063-picsum.png?x-amz-acl=public-read&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH%2F20230818%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20230818T085743Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=a1dd9a8f5de7f02131de7e0f291c4e72fa8071c2c8ede7beb1db94a2ff59a2c0"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:43 GMT
- request:
    method: put
    uri: https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349063-picsum.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH/20230818/eu-west-1/s3/aws4_request&X-Amz-Date=20230818T085743Z&X-Amz-Expires=900&X-Amz-Signature=a1dd9a8f5de7f02131de7e0f291c4e72fa8071c2c8ede7beb1db94a2ff59a2c0&X-Amz-SignedHeaders=host&x-amz-acl=public-read
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - ASHTVVYMPWGN5A6C
      X-Amz-Version-Id:
      - 78ID7ZCJ0s09heGK487_B8N4hWY_DcXZ
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 18 Aug 2023 08:57:43 GMT
- request:
    method: post
    uri: https://site-api.datocms.com/uploads
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload","attributes":{"path":"/105263/1692349063-picsum.png"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Api-Version:
      - '3'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bbe064102bf8fa9ecb528a9c","type":"job"}}'
  recorded_at: Fri, 18 Aug 2023 08:57:43 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/job-results/bbe064102bf8fa9ecb528a9c
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f3ee1270556acc2bc8d09a051e1a449"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - "-1ms"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bbe064102bf8fa9ecb528a9c","type":"job_result","attributes":{"payload":{"data":{"id":"55075852","type":"upload","attributes":{"size":0,"width":null,"height":null,"path":"/105263/1692349063-picsum","format":null,"author":null,"notes":null,"copyright":null,"default_field_metadata":{"en":{"alt":null,"title":null,"custom_data":{},"focal_point":null}},"is_image":false,"created_at":"2023-08-18T08:57:43.669Z","updated_at":"2023-08-18T08:57:43.672Z","url":"https://www.datocms-assets.com/105263/1692349063-picsum","tags":[],"filename":"picsum","basename":"picsum","exif_info":{},"mime_type":"application/octet-stream","colors":[],"smart_tags":[],"duration":null,"frame_rate":null,"mux_playback_id":null,"blurhash":null,"thumbhash":null,"mux_mp4_highest_res":null,"md5":"d41d8cd98f00b204e9800998ecf8427e"},"relationships":{"creator":{"data":{"id":"224335","type":"access_token"}}}}},"status":201,"statusText":"Created"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:43 GMT
recorded_with: VCR 6.1.0
