---
http_interactions:
- request:
    method: get
    uri: https://picsum.photos/seed/picsum/200/300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Aug 2023 14:55:36 GMT
- request:
    method: post
    uri: https://site-api.datocms.com/upload-requests
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload_request","attributes":{"filename":"picsum.png"}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d4b3248fc5be828ec02ecae8dca0e94"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - "-1ms"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"/93363/1692197736-picsum.png","type":"upload_request","attributes":{"url":"https://datosrl-images.s3.eu-west-1.amazonaws.com/93363/1692197736-picsum.png?x-amz-acl=public-read&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH%2F20230816%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20230816T145536Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=7337cbc97f2cdd71e9f133ec74245332c59a79f37cebe02376759d31b17d5f43"}}}'
  recorded_at: Wed, 16 Aug 2023 14:55:37 GMT
- request:
    method: put
    uri: https://datosrl-images.s3.eu-west-1.amazonaws.com/93363/1692197736-picsum.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH/20230816/eu-west-1/s3/aws4_request&X-Amz-Date=20230816T145536Z&X-Amz-Expires=900&X-Amz-Signature=7337cbc97f2cdd71e9f133ec74245332c59a79f37cebe02376759d31b17d5f43&X-Amz-SignedHeaders=host&x-amz-acl=public-read
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 8V4N5VJ7713P3FXJ
      X-Amz-Version-Id:
      - L79BnqhLwqMKVR_RHdAYEs4LWylJZHfk
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 16 Aug 2023 14:55:37 GMT
- request:
    method: post
    uri: https://site-api.datocms.com/uploads
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload","attributes":{"path":"/93363/1692197736-picsum.png"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Api-Version:
      - '3'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7929e389e613bc6ae91322a5","type":"job"}}'
  recorded_at: Wed, 16 Aug 2023 14:55:37 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/job-results/7929e389e613bc6ae91322a5
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3302c162b6d12b685a2c3fe0f69907aa"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 1ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7929e389e613bc6ae91322a5","type":"job_result","attributes":{"payload":{"data":{"id":"67210700","type":"upload","attributes":{"size":0,"width":null,"height":null,"path":"/93363/1692197736-picsum","format":null,"author":null,"notes":null,"copyright":null,"default_field_metadata":{"en":{"alt":null,"title":null,"custom_data":{},"focal_point":null},"de-CH":{"alt":null,"title":null,"custom_data":{},"focal_point":null}},"is_image":false,"created_at":"2023-08-16T14:55:37.592Z","updated_at":"2023-08-16T14:55:37.595Z","url":"https://www.datocms-assets.com/93363/1692197736-picsum","tags":[],"filename":"picsum","basename":"picsum","exif_info":{},"mime_type":"application/octet-stream","colors":[],"smart_tags":[],"duration":null,"frame_rate":null,"mux_playback_id":null,"blurhash":null,"thumbhash":null,"mux_mp4_highest_res":null,"md5":"d41d8cd98f00b204e9800998ecf8427e"},"relationships":{"creator":{"data":{"id":"197178","type":"access_token"}}}}},"status":201,"statusText":"Created"}}}'
  recorded_at: Wed, 16 Aug 2023 14:55:37 GMT
recorded_with: VCR 6.1.0
