---
http_interactions:
- request:
    method: post
    uri: https://site-api.datocms.com/upload-requests
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload_request","attributes":{"filename":"renuo.svg"}}}'
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5546d67d846ff1b17c32e87609470ef"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"/105263/1692349063-renuo.svg","type":"upload_request","attributes":{"url":"https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349063-renuo.svg?x-amz-acl=public-read&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH%2F20230818%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20230818T085743Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=2212e495d1f43241ea1f8c5d372fe7bc838695a4e7552d25079a2d345d6c9715"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:43 GMT
- request:
    method: put
    uri: https://datosrl-images.s3.eu-west-1.amazonaws.com/105263/1692349063-renuo.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA2WEP2FZ4IZ5S22OH/20230818/eu-west-1/s3/aws4_request&X-Amz-Date=20230818T085743Z&X-Amz-Expires=900&X-Amz-Signature=2212e495d1f43241ea1f8c5d372fe7bc838695a4e7552d25079a2d345d6c9715&X-Amz-SignedHeaders=host&x-amz-acl=public-read
    body:
      encoding: UTF-8
      string: '<svg class="logo" height="75" viewBox="0 0 65.89 68.21" width="75"
        xmlns="http://www.w3.org/2000/svg"><path class="cls-1" d="M59,11.65a2.88,2.88,0,0,1-.59-.06,3.62,3.62,0,0,1-.56-.17,3.25,3.25,0,0,1-.52-.28,2.74,2.74,0,0,1-.83-.83,3.15,3.15,0,0,1-.28-.51A3.62,3.62,0,0,1,56,9.24a3.51,3.51,0,0,1,0-1.18,3.62,3.62,0,0,1,.17-.56A3.74,3.74,0,0,1,56.45,7a3.16,3.16,0,0,1,.37-.45,2.82,2.82,0,0,1,.46-.38,3.2,3.2,0,0,1,.52-.27,2.78,2.78,0,0,1,.56-.17,2.88,2.88,0,0,1,1.17,0,2.78,2.78,0,0,1,.56.17,3.2,3.2,0,0,1,.52.27,3.32,3.32,0,0,1,.46.38,4,4,0,0,1,.37.45,2.86,2.86,0,0,1,.27.52,2.81,2.81,0,0,1,.18.56,3,3,0,0,1,.[...]
- request:
    method: post
    uri: https://site-api.datocms.com/uploads
    body:
      encoding: UTF-8
      string: '{"data":{"type":"upload","attributes":{"path":"/105263/1692349063-renuo.svg"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      X-Api-Version:
      - '3'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 0ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0b432c23e0afca0f666e93c8","type":"job"}}'
  recorded_at: Fri, 18 Aug 2023 08:57:44 GMT
- request:
    method: get
    uri: https://site-api.datocms.com/job-results/0b432c23e0afca0f666e93c8
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Version:
      - '3'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6477977c7826b60e69e24c83ff4ab95"
      X-Api-Version:
      - '3'
      X-Environment:
      - main
      X-Queue-Time:
      - 1ms
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0b432c23e0afca0f666e93c8","type":"job_result","attributes":{"payload":{"data":{"id":"55075853","type":"upload","attributes":{"size":3952,"width":75,"height":75,"path":"/105263/1692349063-renuo.svg","format":"svg","author":null,"notes":null,"copyright":null,"default_field_metadata":{"en":{"alt":null,"title":null,"custom_data":{},"focal_point":null}},"is_image":true,"created_at":"2023-08-18T08:57:44.485Z","updated_at":"2023-08-18T08:57:44.488Z","url":"https://www.datocms-assets.com/105263/1692349063-renuo.svg","tags":[],"filename":"renuo.svg","basename":"renuo","exif_info":{},"mime_type":"image/svg+xml","colors":[],"smart_tags":[],"duration":null,"frame_rate":null,"mux_playback_id":null,"blurhash":null,"thumbhash":null,"mux_mp4_highest_res":null,"md5":"849df5a107b556a3bea01027b191a56a"},"relationships":{"creator":{"data":{"id":"224335","type":"access_token"}}}}},"status":201,"statusText":"Created"}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:44 GMT
recorded_with: VCR 6.1.0
