---
http_interactions:
- request:
    method: post
    uri: https://graphql.datocms.com/preview
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  homepage {\n    id\n    _createdAt\n    _seoMetaTags
        {\n      attributes\n      content\n      tag\n    }\n    content {\n      value\n      blocks
        {\n        id\n        image {\n          responsiveImage(imgixParams: {fm:
        png}) {\n            srcSet\n            webpSrcSet\n            sizes\n            src\n            width\n            height\n            aspectRatio\n            alt\n            title\n            bgColor\n            base64\n          }\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7cbac613e1d302c957522e31bad32f4a"
      X-Analysis-Fields-Count:
      - '2'
      X-Analysis-Introspection:
      - '0'
      X-Analysis-Item-Types-Count:
      - '2'
      X-Analysis-Successful:
      - '1'
      X-Batch:
      - '0'
      X-Complexity:
      - '135'
      X-Environment:
      - main
      X-Max-Complexity:
      - '10000000'
      X-Query-Digest:
      - fbc430ee2fa5462740bdfff9c04bcc61
      X-Queue-Time:
      - 229ms
      X-Timings-Execution:
      - '0.14'
      X-Timings-Preanalysis:
      - '0.096'
      X-Timings-Schema-Generation:
      - '0.71'
      X-Timings-Total:
      - '0.946'
    body:
      encoding: UTF-8
      string: '{"data":{"homepage":{"id":"67279011","_createdAt":"2021-10-22T14:45:19+01:00","_seoMetaTags":[{"attributes":null,"content":"SEO
        title","tag":"title"},{"attributes":{"property":"og:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:image","content":"https://www.datocms-assets.com/105263/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:image","content":"https://www.datocms-assets.com/105263/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"property":"og:locale","content":"en"},"content":null,"tag":"meta"},{"attributes":{"property":"og:type","content":"website"},"content":null,"tag":"meta"},{"attributes":{"property":"article:modified_time","content":"2022-04-04T19:31:14Z"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:card","content":"summary_large_image"},"content":null,"tag":"meta"}],"content":{"value":{"schema":"dast","document":{"type":"root","children":[{"type":"heading","level":1,"children":[{"type":"span","marks":["strong"],"value":"Enjoy
        live updates"}]},{"type":"paragraph","children":[{"type":"span","value":"Here
        is a paragraph with some content to be tested"}]},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is a smaller heading"}]},{"type":"list","style":"numbered","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"numbered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]}]},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is another heading"}]},{"type":"list","style":"bulleted","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"unordered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]}]},{"type":"blockquote","children":[{"type":"paragraph","children":[{"type":"span","value":"Arel
        is great only for dynamic queries"}]}],"attribution":"Alessandro Rodi"},{"type":"thematicBreak"},{"code":"client
        = Dato::Client.new\nclient.execute!(a_query)","type":"code","language":"ruby"},{"item":"120808890","type":"block"},{"type":"heading","level":6,"children":[{"type":"span","value":"One
        last heading"}]},{"type":"paragraph","children":[{"type":"span","marks":["strong"],"value":"And
        a longer"},{"type":"span","value":" "},{"type":"span","marks":["emphasis"],"value":"paragraph
        with a"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"lot
        of different"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"styles
        all"},{"type":"span","value":" "},{"type":"span","marks":["underline","strikethrough"],"value":"together"},{"type":"span","value":".
        "},{"type":"span","marks":["code"],"value":"We mix some"},{"type":"span","value":"
        "},{"type":"span","marks":["highlight"],"value":"of them"},{"type":"span","value":"
        "},{"url":"https://renuo.ch","type":"link","children":[{"type":"span","value":"to
        see if they are all properly managed."}]}]}]}},"blocks":[{"id":"120808890","image":{"responsiveImage":{"srcSet":"https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.25&fm=png
        1008w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.5&fm=png
        2016w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.75&fm=png
        3024w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?fm=png
        4032w","webpSrcSet":"https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.25&fm=webp
        1008w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.5&fm=webp
        2016w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?dpr=0.75&fm=webp
        3024w,https://www.datocms-assets.com/105263/1634910050-img0429.heic?fm=webp
        4032w","sizes":"(max-width: 4032px) 100vw, 4032px","src":"https://www.datocms-assets.com/105263/1634910050-img0429.heic?fm=png","width":4032,"height":3024,"aspectRatio":1.3333333333333333,"alt":null,"title":null,"bgColor":null,"base64":"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLERYXDhMPFRUZDhgPIhUOFxUZHRYfIh4eIysvHR0oHRUiJDUlKC0vMjIyHSI4PTcwPCsxMi8BCgsLDg0OHA0QHTUdIh07Oy8vLy81Ly8vLy8vOy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABIAGAMBIgACEQEDEQH/xAAaAAEAAgMBAAAAAAAAAAAAAAAABAUBAwcC/8QAIRAAAgIBBAIDAAAAAAAAAAAAAAECAwQFBhGRMTITFCH/xAAYAQACAwAAAAAAAAAAAAAAAAADBAECBf/EABoRAAIDAQEAAAAAAAAAAAAAAAACAQMyERP/2gAMAwEAAhEDEQA/AJ1uFD67TNWHp1STfJU27pxXV7oYW5sWX47F2avqwgyL0u5afVIEC7c2BTXzK1dgFN0hIReHJnJ/H5Z6xpPnyzIIktOZMahKTUeZPsAClmgtWT//2Q=="}}}]}}}}'
  recorded_at: Fri, 18 Aug 2023 08:57:40 GMT
recorded_with: VCR 6.1.0
