---
http_interactions:
- request:
    method: post
    uri: https://graphql.datocms.com/
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  allPosts {\n    id\n    title\n    slug\n    author
        {\n      name\n      id\n      picture {\n        responsiveImage(imgixParams:
        {fm: png}) {\n          srcSet\n          webpSrcSet\n          sizes\n          src\n          width\n          height\n          aspectRatio\n          alt\n          title\n          bgColor\n          base64\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5b4f79c64d6b51126687001539210cd"
      X-Analysis-Fields-Count:
      - '5'
      X-Analysis-Introspection:
      - '0'
      X-Analysis-Item-Types-Count:
      - '2'
      X-Analysis-Successful:
      - '1'
      X-Batch:
      - '0'
      X-Complexity:
      - '117'
      X-Complexity-New:
      - '117'
      X-Depth:
      - '5'
      X-Environment:
      - main
      X-Fields-Count:
      - '20'
      X-Queue-Time:
      - "-1ms"
      X-Timings-Execution:
      - '0.024'
      X-Timings-Preanalysis:
      - '0.003'
      X-Timings-Schema-Generation:
      - '0.041'
      X-Timings-Total:
      - '0.068'
    body:
      encoding: UTF-8
      string: '{"data":{"allPosts":[{"id":"56345","title":"My second post about how
        cool is Dato::Rails","slug":"my-second-post-about-how-cool-is-dato-rails","author":{"name":"Alessandro
        Rodi","id":"56304","picture":{"responsiveImage":{"srcSet":"https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.25&fm=png
        756w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.5&fm=png
        1512w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.75&fm=png
        2268w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?fm=png
        3024w","webpSrcSet":"https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.25&fm=webp
        756w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.5&fm=webp
        1512w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?dpr=0.75&fm=webp
        2268w,https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?fm=webp
        3024w","sizes":"(max-width: 3024px) 100vw, 3024px","src":"https://www.datocms-assets.com/65438/1634910688-alessandro.jpg?fm=png","width":3024,"height":4032,"aspectRatio":0.75,"alt":"Alessandro
        Rodi","title":"Alessandro Rodi","bgColor":"#74aaeb","base64":"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBg8REhEQDRUPDhgQDQ0NGh0NDQgNFxYZGBYfIhUaHysjGh0oHRUWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHBAQHDseIig7Ly8yOy8vLy81Ly8vNS8vLzUvNS8vLy8vNS8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABgAEgMBIgACEQEDEQH/xAAZAAEAAwEBAAAAAAAAAAAAAAAABAUGAwH/xAAcEAABBAMBAAAAAAAAAAAAAAAAAQIDBAUTFBH/xAAYAQACAwAAAAAAAAAAAAAAAAACBAADBf/EABwRAAICAgMAAAAAAAAAAAAAAAABAhEEFAMSIf/aAAwDAQACEQMRAD8A0iWGsQ8S4xXFDkLjomkanbklUb486NUKrFbVmt62AodsgD3IleqyHei2Id8XTT0AyFBdUx+En6i6[...]
