---
http_interactions:
- request:
    method: post
    uri: https://graphql.datocms.com/
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  homepage {\n    id\n    _createdAt\n    _seoMetaTags
        {\n      attributes\n      content\n      tag\n    }\n    content {\n      value\n      blocks
        {\n        id\n        image {\n          responsiveImage(imgixParams: {fm:
        png}) {\n            srcSet\n            webpSrcSet\n            sizes\n            src\n            width\n            height\n            aspectRatio\n            alt\n            title\n            bgColor\n            base64\n          }\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd991abec88c24d2b267b79cc3345e9f"
      X-Analysis-Fields-Count:
      - '2'
      X-Analysis-Introspection:
      - '0'
      X-Analysis-Item-Types-Count:
      - '2'
      X-Analysis-Successful:
      - '1'
      X-Batch:
      - '0'
      X-Complexity:
      - '66'
      X-Complexity-New:
      - '66'
      X-Depth:
      - '6'
      X-Environment:
      - main
      X-Fields-Count:
      - '24'
      X-Queue-Time:
      - 0ms
      X-Timings-Execution:
      - '0.027'
      X-Timings-Preanalysis:
      - '0.002'
      X-Timings-Schema-Generation:
      - '0.028'
      X-Timings-Total:
      - '0.057'
    body:
      encoding: UTF-8
      string: '{"data":{"homepage":{"id":"56302","_createdAt":"2021-10-22T14:45:19+01:00","_seoMetaTags":[{"attributes":null,"content":"SEO
        title","tag":"title"},{"attributes":{"property":"og:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:title","content":"SEO
        title"},"content":null,"tag":"meta"},{"attributes":{"name":"description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:description","content":"SEO
        description"},"content":null,"tag":"meta"},{"attributes":{"property":"og:image","content":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:image","content":"https://www.datocms-assets.com/65438/1634910050-img0429.heic?auto=format&fit=max&w=1200"},"content":null,"tag":"meta"},{"attributes":{"property":"og:locale","content":"en"},"content":null,"tag":"meta"},{"attributes":{"property":"og:type","content":"website"},"content":null,"tag":"meta"},{"attributes":{"property":"article:modified_time","content":"2022-03-24T13:55:14Z"},"content":null,"tag":"meta"},{"attributes":{"name":"twitter:card","content":"summary_large_image"},"content":null,"tag":"meta"}],"content":{"value":{"schema":"dast","document":{"type":"root","children":[{"type":"heading","level":1,"children":[{"type":"span","value":"Welcome
        to "},{"type":"span","marks":["strong"],"value":"DATO-RAILS"}]},{"type":"paragraph","children":[{"type":"span","value":""}]},{"type":"paragraph","children":[{"type":"span","value":"Here
        is a paragraph with some content to be tested"}]},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is a smaller heading"}]},{"type":"list","style":"numbered","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"numbered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]}]},{"type":"paragraph","children":[{"type":"span","value":""}]},{"type":"heading","level":2,"children":[{"type":"span","value":"This
        is another heading"}]},{"type":"list","style":"bulleted","children":[{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"and"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"a"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"unordered"}]}]},{"type":"listItem","children":[{"type":"paragraph","children":[{"type":"span","value":"list"}]}]}]},{"type":"blockquote","children":[{"type":"paragraph","children":[{"type":"span","value":"Arel
        is great only for dynamic queries"}]}],"attribution":"Alessandro Rodi"},{"type":"thematicBreak"},{"code":"client
        = Dato::Client.new\nclient.execute!(a_query)","type":"code","language":"ruby"},{"item":"56409","type":"block"},{"type":"heading","level":6,"children":[{"type":"span","value":"One
        last heading"}]},{"type":"paragraph","children":[{"type":"span","marks":["strong"],"value":"And
        a longer"},{"type":"span","value":" "},{"type":"span","marks":["emphasis"],"value":"paragraph
        with a"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"lot
        of different"},{"type":"span","value":" "},{"type":"span","marks":["underline"],"value":"styles
        all"},{"type":"span","value":" "},{"type":"span","marks":["underline","strikethrough"],"value":"together"},{"type":"span","value":".
        "},{"type":"span","marks":["code"],"value":"We mix some"},{"type":"span","value":"
        "},{"type":"span","marks":["highlight"],"value":"of them"},{"type":"span","value":"
        "},{"url":"https://renuo.ch","type":"link","children":[{"type":"span","value":"to
        see if they are all properly managed."}]}]}]}},"blocks":[{"id":"56409","image":{"responsiveImage":{"srcSet":"https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.25&fm=png
        62w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.5&fm=png
        124w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.75&fm=png
        186w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?fm=png
        249w","webpSrcSet":"https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.25&fm=webp
        62w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.5&fm=webp
        124w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?dpr=0.75&fm=webp
        186w,https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?fm=webp
        249w","sizes":"(max-width: 249px) 100vw, 249px","src":"https://www.datocms-assets.com/65438/1648072311-alessandro-portrait.png?fm=png","width":249,"height":251,"aspectRatio":0.9920318725099602,"alt":null,"title":null,"bgColor":"#ca7854","base64":"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgVFQoLDh4QGhUPFxUSEB0YFx8lJBsVFiEdHyslJh0oHSEeJTUlKC0vMjI+GiI4PTcwPCsxMi8BCgsLDg0OHBAQHDsoIik7Ozs7Lzs7OzU1Ly8vLy8vLy81LzUvLy81Ly8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABkAGAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAGAAQHA//EACMQAAEDAgYDAQAAAAAAAAAAAAEAAgMEBQYSITEycREzQRP/xAAWAQEBAQAAAAAAAAAAAAAAAAADBAL/xAAbEQADAQADAQAAAAAAAAAAAAAAAQIDERIxIf/aAAwDAQACEQMRAD8A5Ja25q5ie0jD+I6ROyUThPncNU5pYfEO3xHpLKckkCsUt8SM7UteLqc5A8Di5S1nL6h68dvhvtsADxok8DAIkft3NI4vUrHKZHNtBzEEAljcCFL3vOxUkhcIDWm69P/Z"}}}]}}}}'
  recorded_at: Tue, 14 Feb 2023 09:13:40 GMT
recorded_with: VCR 6.1.0
